@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
/* line 5, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
 * Start Bootstrap - Full Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
/* line 7, ../sass/partials/_full-slider.scss */
html,
body {
  height: 100%;
}

/* line 12, ../sass/partials/_full-slider.scss */
.carousel,
.item {
  height: 100%;
  margin-top: -50px;
}

/* line 21, ../sass/partials/_full-slider.scss */
.carousel-inner {
  height: 100%;
  position: relative;
}

/* Background images are set within the HTML using inline CSS, not here */
/* line 28, ../sass/partials/_full-slider.scss */
.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/* line 38, ../sass/partials/_full-slider.scss */
footer {
  margin: 50px 0;
}

/* line 41, ../sass/partials/_full-slider.scss */
.carousel-caption {
  position: absolute;
  top: 55%;
  transform: translateY(-55%);
}

/* line 47, ../sass/partials/_full-slider.scss */
.carousel-control.right, .carousel-control.left {
  background-image: none;
}

/* line 1, ../sass/partials/_modernscale.scss */
body {
  font-size: 100%;
}

/* line 5, ../sass/partials/_modernscale.scss */
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

/* line 9, ../sass/partials/_modernscale.scss */
#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  /* line 17, ../sass/partials/_modernscale.scss */
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}
/* line 25, ../sass/partials/_modernscale.scss */
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  /* line 33, ../sass/partials/_modernscale.scss */
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}
@media (min-width: 56.25em) {
  /* line 41, ../sass/partials/_modernscale.scss */
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}
/* line 49, ../sass/partials/_modernscale.scss */
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  /* line 57, ../sass/partials/_modernscale.scss */
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 65, ../sass/partials/_modernscale.scss */
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}
/* line 72, ../sass/partials/_modernscale.scss */
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  /* line 80, ../sass/partials/_modernscale.scss */
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}
@media (min-width: 56.25em) {
  /* line 88, ../sass/partials/_modernscale.scss */
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}
/* line 95, ../sass/partials/_modernscale.scss */
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  /* line 102, ../sass/partials/_modernscale.scss */
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}
/* line 108, ../sass/partials/_modernscale.scss */
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  /* line 116, ../sass/partials/_modernscale.scss */
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
/* line 1, ../sass/partials/_typography.scss */
*, html, body {
  font-family: 'Lato', sans-serif;
}

/* line 4, ../sass/partials/_typography.scss */
.title, .lg-title, header .md-title {
  text-transform: capitalize;
  padding-bottom: 1.075em;
}

/* line 8, ../sass/partials/_typography.scss */
.lg-title {
  padding: 0.55em;
}

/* line 13, ../sass/partials/_typography.scss */
.nounNames {
  font-size: 1em;
}

/* line 21, ../sass/partials/_typography.scss */
p.description {
  margin-bottom: 1em;
}

/* line 2, ../sass/partials/_navigation.scss */
.navbar {
  margin-bottom: 0px;
  z-index: 10000;
}

/* line 6, ../sass/partials/_navigation.scss */
.navbar-brand > span {
  display: inline-block;
  vertical-align: middle;
}

/* line 12, ../sass/partials/_navigation.scss */
.nav-logo {
  max-width: 20px;
  max-height: 20px;
  margin-right: 0.5em;
}

/* line 18, ../sass/partials/_navigation.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #55cfc4;
  /* background-color: #e7e7e7; */
}

/* General button style (reset) */
/* line 2, ../sass/partials/_buttons.scss */
.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: inherit;
  background-color: #F21FA0;
  cursor: pointer;
  padding: 10px 45px;
  display: inline-block;
  border-radius: 50px;
  color: #fff;
  overflow: hidden;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 24, ../sass/partials/_buttons.scss */
.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  color: #999999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* centered columns styles */
/* line 2, ../sass/partials/_layout.scss */
.row {
  padding: 2em 0;
}

/* line 5, ../sass/partials/_layout.scss */
.row-centered {
  text-align: center;
}

/* line 8, ../sass/partials/_layout.scss */
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  /* inline-block space fix */
  margin-right: -4px;
}

/* line 1, ../sass/partials/_latest-collection.scss */
.img-prod {
  max-width: 170px;
  max-height: 221px;
}
