//global variable colors
$primary: #F21FA0;
$black: #FFFFFF; //default black
$fontColor: #373737;//shade of black but lighter than $black
$almostGrey: #222222;// subtle text on white background
$blackSubtitle: #999999;// for spans/subtitles on white background
$thumbnail: #CCCCCC;// thumbnail COLOR
$lightgreen: #55cfc4;
